In [1]:
import pandas as pdlist(d.keys())

In [10]:
import pandas as pd
import json
import os

# Reading the json as a dict
with open('train2018.json') as json_data:
    data = json.load(json_data)

In [12]:
list(data.keys())

[u'info', u'images', u'licenses', u'annotations', u'categories']

In [26]:
images_df = pd.DataFrame.from_dict(data["images"])
train.reset_index(level=0, inplace=True)

In [27]:
images_df.head()

,file_name,height,id,license,rights_holder,width
0,train_val2018/Plantae/7477/3b60c9486db1d2ee875...,600,1,3,Jonathan Carpenter,800
1,train_val2018/Aves/2820/22c733d9199c35d2578232...,600,2,3,Marion Zöller,800
2,train_val2018/Aves/2757/e5641ce8fd794bf149d49f...,640,3,3,phylocode,800
3,train_val2018/Mammalia/4219/60c8365f55c2f4e790...,533,4,1,J. N. Stuart,800
4,train_val2018/Aves/3942/872fef47a85beb90efc301...,533,5,3,Alfonso Gutiérrez Aldana,800